@* Auto generated file on 02:23:59 by RedisReactgruntfile.js *@
@inherits ServiceStack.Razor.ViewPage
@{
    var platformsClassName = AppSettings.Exists("PlatformClassName") ? AppSettings.GetString("PlatformClassName") : "web";
}
<!DOCTYPE html>
<html @platformsClassName>
<head lang="en">
    <meta charset="UTF-8">

    <link rel="stylesheet" href="lib/css/lib.min.css">

    <link rel="stylesheet" href="css/app.min.css">

    @if (AppSettings.Exists("PlatformCss"))
    {
        <link rel="stylesheet" href="@(AppSettings.GetString("PlatformCss") + "?disableCache=" + DateTime.Now.Ticks)" />
    }

    <script src="lib/js/lib.min.js"></script>

    <script src="/js/ss-utils.js"></script><!-- in ServiceStack.dll -->
       
    <script src="js/app.min.js"></script>

    @if (AppSettings.Exists("PlatformJs"))
    {
        <script src="@(AppSettings.GetString("PlatformJs") + "?disableCache=" + DateTime.UtcNow.Ticks)"></script>
    }

    <title>Redis React</title>
</head>
<body>

    <script src="js/app.jsx.js"></script>

    

</body>
</html>